:root {
    --blackish: #010108;
    --dark_purple: #1B0259;
    --light_purple: #866BC9;
    --navy_black: #0E0D30;
    --dark_blue: #050178;
    --royal_blue: #0704C2;
    --pastel_blue: #4D7BF0;
    --whiteish: #FCFCFC;
}

@media (min-width: 993px) {
    body {
        font-size: 150%;
    }
}

body {
    background-color: var(--blackish);
    color: var(--whiteish);
    box-sizing: border-box;
    margin: 0px auto;
    padding: auto;
}

#nav_bar {
    position: fixed;
    top: 0;
    height: 5vh;
    color: var(--whiteish);
    background-color: var(--dark_purple);
    z-index: 1;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.nav-button {
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    float: left;
    align-items: center;
    background-color: var(--blackish);
    color: var(--pastel_blue);
}

ul li {
    padding: 0 5px 0 5px;
    list-style: none;
}

.nav-items {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
}

#title_section, #projects, #about_me {
    position: relative;
    min-height: 100vh;
    align-items: center; 
}

#title_section {
    background-color: var(--dark_blue);
    color: var(--light_purple);
}

#projects {
    background-color: var(--dark_purple);
    color: var(--pastel_blue);
}

#about_me {
    background-color: var(--dark_blue);
    color: var(--light_purple);
}

#about_me > h3 {
    padding: 20px 0 0 0;
}

#socials {
    position: relative;
    height: 10%;
    justify-content: space-around;
    background-color: var(--dark_purple);
    color: var(--pastel_blue);
}

h1, h2, h3, .para {
    color: var(--pastel_blue);
    font-family: "Open Sans", sans-serif;
}

.para {
    padding: 10px;
}

footer {
    position: relative;
    background-color: var(--blackish);
    color: var(--whiteish);
}
