:root {
    --color1: #010108;
    --color2: #FCFCFC;
    --color3: #0c0357;
    --color4: #41418f;
}

@media (min-width: 75em) {
    body {
        font-size: 125%;
    }
    #nav_bar a {
        padding: 0 10px 0 0 ;
    }
    #title_section {
    height: 100vh; 
    background-origin: border-box;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color1);
    color: var(--color2);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav_bar {
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100vw;
    background-color: var(--color4);
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
}

.nav-button {
    margin: 0 15px;
    background-image: linear-gradient(45deg, var(--color1), var(--color4));
    color: var(--color2);
    border-radius: 0 50%;
    height: 4vh;
    border: 1px solid var(--color1);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home_btn {
    float: left;
}

#project_btn, #about_btn, #social_btn {
    float: right;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(165deg, var(--color3) 80%, var(--color1) 100%);
    min-height: 89vh;
    margin-top: 5vh;
    overflow: hidden;
}

#title_section {
    background-image: url("images/CrescentKazBackgroundBlank.png") no-repeat fixed center cover;
    min-height: 85vh;
}

.hero-name-image {
    height: auto;
    max-height: 25vh;
    min-width: 60vw;
    max-width: 90vw;
    margin-bottom: 5vh;
    aspect-ratio: auto;
}

#title_section, #project_section, #about_section, #social_section {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 5% 0;
}

.project-title {
    color: var(--color2);
    text-decoration: none;
}

.project-image {
    height: 225px;
    width: 225px;
    margin-bottom: 5vh;
}

#about_section h2, #project_section h2 {
    padding: 20px 0 0 0;
}

#social_group {
    margin-top: 20vh;
}

.social_link {
    text-decoration: none;
    color: var(--color2); 
}

.social_link:visited {
    color: var(--color2);
    padding: 20px 0 0 0;
}

h1, h2, h3, .para {
    color: var(--color2);
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    text-shadow: var(--color4);
}

h1, h2, h3 {
    filter: drop-shadow(0 0 0.75rem var(--color4));
}

.para {
    padding: 0 15%;
    text-align: left;
}

.para2 {
    padding: 0 15%;
    text-align: center;
}

footer {
    position: relative;
    padding-left: 5%;
    width: (100vw - 5%);
}

/* #project_section, #about_section, #social_section {
    display: none;
} */
