:root {
    --blackish: #010108;
    --dark_purple: #5e5e5e;
    --light_purple: #aaaaaa;
    --navy_black: #0E0D30;
    --dark_blue: #5e5e5e;
    --royal_blue: #626291;
    --pastel_blue: #aaaaaa;
    --whiteish: #FCFCFC;
}

@media (min-width: 75em) {
    body {
        font-size: 125%;
    }
    #nav_bar a {
        padding: 0 10px 0 0 ;
    }
}

body {
    background-color: var(--blackish);
    color: var(--whiteish);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#nav_bar {
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100vw;
    background-color: var(--dark_purple);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.nav-button {
    margin: 0 15px;
    background-image: linear-gradient(45deg, var(--blackish), var(--royal_blue));
    color: var(--pastel_blue);
    border-radius: 0 50%;
    height: 4vh;
    border: 1px solid var(--blackish);
    display: flex;
    flex-direction: row;
    align-items: center;
}

#home_btn {
    float: left;
}

#project_btn, #about_btn, #social_btn {
    float: right;
}

#title_section, #project_section, #about_me {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 5% 0;
}

#title_section {
    color: var(--light_purple);
    background-image: linear-gradient(135deg, var(--dark_blue) 70%, var(--blackish) 100%);
}

#project_section {
    color: var(--pastel_blue);
    text-decoration: none;
    background-image: linear-gradient(45deg, var(--dark_purple) 70%, var(--blackish) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-image {
    height: 225px;
    width: 225px;
}

#about_me {
    background-color: var(--dark_blue);
    color: var(--light_purple);
    background-image: linear-gradient(-135deg, var(--dark_blue) 70%, var(--blackish) 100%);
}

#about_me > h2 {
    padding: 20px 0 0 0;
}

#socials {
    position: relative;
    height: 5vh;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    color: var(--pastel_blue);
    background-image: linear-gradient(-45deg, var(--dark_purple) 50%, var(--blackish) 100%);
}

#socials > a {
    color: var(--whiteish);
}
h1, h2, h3, .para {
    color: var(--pastel_blue);
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.para {
    padding: 0 15%;
}

footer {
    position: relative;
    padding-left: 5%;
    width: (100vw - 5%);
}

#project_section, #about_me, #socials {
    display: none;
}
